body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.landing-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    min-height: 100vh;
}

.intro-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.profile-pic-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%;
    max-width: 400px;
    border-radius: 5%;
}

.interests-section {
    padding: 50px 20px;
    background-color: #fff;
    margin-top: 20px;
}

.interests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.tweet, .song {
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.tweet.visible, .song.visible {
    opacity: 1;
    transform: translateX(0);
}

.tweet:not(.visible), .song:not(.visible) {
    transition: none;
    opacity: 0;
    transform: translateX(-100%);
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .landing-page {
    background-color: #222;
}

.dark-mode .tweet, .dark-mode .song {
    background-color: #666;
}

.dark-mode .interests-section {
    background-color: #222;
}

.dark-mode #dark-mode-label {
    color: #fff;
}

/* Dark mode toggle button */
label {
    width:50px;
    height:20px;
    font-size: 0;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

label:after {
    content: "";
    width:180px;
    height: 180px;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left:490px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
  label, label:after {
    transition: 0.3s
}

label:active:after{ 
    width: 260px; 
}

.background {
    width:100vw;
    height: 100vh;
    background: #fff;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

input:checked + label + .background {
    background:#242424;
}

/* Nav bar styles*/
.nav-bar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-bar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.nav-bar li {
    float: left;
}